<!DOCTYPE html>
<html>
    <head>
        <title>
        {% if title %}
            {{ title }}
        {% else %}
            My application
        {% endif %}
        </title>
    </head>
    <body>
        {% block body %}
        {% endblock body %}
    </body>
</html>